# 바이트 컴파일 / 최적화 / DLL 파일
__pycache__/
*.py[cod]
*$py.class

# C 확장자 파일
*.so

# 배포 / 패키징 관련 파일
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller 관련 파일
*.manifest
*.spec

# 설치 로그 파일
pip-log.txt
pip-delete-this-directory.txt

# 유닛 테스트 / 커버리지 보고서
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# 번역 파일
*.mo
*.pot

# Django 관련 파일:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask 관련 파일:
instance/
.webassets-cache

# Scrapy 관련 파일:
.scrapy

# Sphinx 문서 관련 파일
docs/_build/

# PyBuilder 관련 파일
.pybuilder/
target/

# Jupyter Notebook 관련 파일
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython 관련 파일
profile_default/
ipython_config.py

# pyenv 설정 파일
.python-version

# pipenv 설정 파일
Pipfile.lock

# poetry 설정 파일
poetry.lock

# pdm 설정 파일
pdm.lock
.pdm.toml

# PEP 582; 예: github.com/David-OConnor/pyflow 및 github.com/pdm-project/pdm 사용
__pypackages__/

# Celery 관련 파일
celerybeat-schedule
celerybeat.pid

# SageMath 파싱 파일
*.sage.py

# 환경 설정 파일
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder 프로젝트 설정 파일
.spyderproject
.spyproject

# Rope 프로젝트 설정 파일
.ropeproject

# mkdocs 문서 관련 파일
/site

# mypy 캐시 파일
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre 타입 체커 관련 파일
.pyre/

# pytype 정적 타입 분석기 관련 파일
.pytype/

# Cython 디버그 심볼
cython_debug/

# Poetry 로컬 설정 파일
poetry.toml

# ruff 캐시 파일
.ruff_cache/

# LSP 설정 파일
pyrightconfig.json

# Windows 관련 파일
# Windows 썸네일 캐시 파일
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# 덤프 파일
*.stackdump

# 폴더 설정 파일
[Dd]esktop.ini

# 파일 공유시 사용되는 휴지통
$RECYCLE.BIN/

# Windows 설치 파일
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows 바로가기 파일
*.lnk

# TensorFlow / Keras 모델 체크포인트와 저장된 모델
*.h5
*.ckpt
model_checkpoints/

# TensorBoard 로그 파일
logs/

# 대규모 데이터 파일
*.csv
*.xlsx
*.json
data/
